%div{ :class => "flash", :id => "error-box" }
%h1 Sign in
= simple_form_for(:session, :url => sessions_path, :remote => true) do |f|
  = f.input :email
  = f.input :password
  = f.button :submit, :label => "Sign in"

%p 
  New user?
  = link_to "Sign up now!", signup_path
