- if signed_in? && current_user.admin?
  .button-group
    = link_to "Edit", edit_person_path(@person), :class => "button icon edit"
    = link_to "Delete", @person, :method => :delete, :class => "button danger icon trash", :confirm => "You sure?", :title => "Delete person"
%h3
  = @person.name
%p
  = "Born: " + @person.birthdate.strftime("%B %d, %Y")
%p
  = "Age: " + age(@person.birthdate).to_s
%p
  IMDb:
  = link_to imdb_link(@person.imdb_id, "person"), imdb_link(@person.imdb_id, "person")
- unless @person.movies.acted.blank?
  %table
    %caption Acting roles
    %thead
      %tr
        %th Movie
        %th Rating
        %th Year
        - if signed_in? && current_user.admin?
          %th Action
    %tbody
      - Relationship.where(['role = ?', "actor"]).find_all_by_person_id(@person.id).each do |r|
        %tr
          %td #{link_to(r.movie.name, movie_path(r.movie.id))}
          %td #{r.movie.rating}/10
          %td #{r.movie.year}
          -if signed_in? && current_user.admin?
            %td #{link_to("Delete", r, :method => :delete, :class => "button pill danger icon trash", :confirm => "You sure?")}
- unless @person.movies.directed.blank?
  %table
    %caption Directing roles
    %thead
      %tr
        %th Movie
        %th Rating
        %th Year
        - if signed_in? && current_user.admin?
          %th Action
    %tbody
      - Relationship.where(['role = ?', "director"]).find_all_by_person_id(@person.id).each do |r|
        %tr
          %td #{link_to(r.movie.name, movie_path(r.movie.id))}
          %td #{r.movie.rating}/10
          %td #{r.movie.year}
          -if signed_in? && current_user.admin?
            %td #{link_to("Delete", r, :method => :delete, :class => "button pill danger icon trash", :confirm => "You sure?")}
