%h3 #{@title}
= simple_form_for(:relationship, :url => relationships_path, :remote => true)  do |f|
  = f.input :person_id, :label => "Name", :collection => Person.all
  = f.input :movie_id , :as => :hidden, :input_html => { :value => @movie.id }
  = f.input :role, :collection => ["actor", "director"], :include_blank => false
  = f.button :submit, :class => "icon approve"
