<h3>
  <%= @movie.name %> (<%= @movie.year %>)
</h3>
<p>Rating: <%= raw(rating_stars(@movie.rating)) %></p>
<% if @movie.watched? %>
<p>You have watched this movie</p>
<% end %>
<%= link_to imdb_link(@movie.imdb_id), imdb_link(@movie.imdb_id) %>
  <ul>
    Directing:
    <% @movie.people.directing.each do |person| %>
      <li><%= link_to person.name, person_path(person.id) %></li>
    <% end %>
  </ul>
  <ul>
    Acting:
    <% @movie.people.acting.each do |p| %>
      <li><%= link_to p.name, person_path(p.id) %></li>
    <% end %>
  </ul>
