%h1 Sign up form
= simple_form_for @user do |f|
  = f.input :name, :hint => "Your full name or screen name"
  = f.input :email, :hint => "This will serve as your login"
  = f.input :password, :hint => "Must be atleast 6 characters long"
  = f.input :password_confirmation, :label => "Confirm", :hint => "Passwords must match"
  = f.button :submit, :class => "icon approve"
