%ul
  %li
    = link_to "› Movies", movies_path, :class => "button"
  %li
    = link_to "› People", people_path, :class => "button"
  %li
    = link_to "› Users", users_path, :class => "button"

%ul
  - if signed_in?
    %li 
      = link_to "› Sign out", signout_path, :class => "button"
    %li
      = link_to "› Settings", edit_user_path(current_user), :class => "button"
  - else
    %li 
      = link_to "› Sign in", signin_path, :class => "button primary"
    %li
      = link_to "› Register", signup_path, :class => "button"
